.bgImg{
    background-image: url("../../img/fondoLanding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

.title{
  font-family: cursive;
  font-size: 100px;
  display: inline;
}

.btn{
  margin-left: 140px;
  margin-top: 15px;
  width: 116px;
  height: 36px;
  color: #ffffff;
  border-radius: 10px;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #854bf1;
}
.btn:hover{
  background-color: #8629ff;
}

.p{
  margin-left: 55px;
  margin-top: 30px;
  font-size: 34px;
  color: cornflowerblue;
}