.container{
    margin-top: 20px;
    width: 90%;
    font-family: 'Rubik', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bttn{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: #D32F2F;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 12px;
    font-weight: 900;
    letter-spacing: 1.5px;
}