.container {
    display: flex;
    justify-content: center;
}

.bttn {
    border-radius: 2px;
    font-weight: 700;
    color: white;
    height: 30px;
    width: 40px;
    margin: 30px 3px;
    border: none;
    background-color: #7f25e7b9;
    cursor: pointer;
}

@media (max-width: 700px) {

    .container {
        display: grid;
        grid-template-columns: repeat(7, 0fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1px;

    }

    .bttn {
        margin: 10px 3px;
    }
}